.header {
  background-color: #0a0a3c;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 100vw;
  height: 69px;

  margin-right: 40px;
}

.imgLogoTipo {
  margin-left: 30px;

  width: 25px;
  height: 25px;
}

.imgLogoElipse {
  width: 10px;
  height: 10px;
}

.btn1 {
  border: none;
  background: none;
  margin-right: 15px;

  color: white;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.btn2 {
  border: none;
  background: none;
  margin-left: 15px;

  color: white;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.btn3 {
  border: none;
  background: none;
  margin-left: 15px;
  margin-right: 15px;
  color: white;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #0a0a3ce3;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -14px;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

p {
  color: white;
}
